body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.card {
    display: grid;
    grid-template-columns: repeat(3, 150px); /* 3 colonnes pour 2 lignes */
    gap: 20px; /* Espacement entre les images */
}

/* Styles pour les images */
img {
    width: 100%;
    height: auto;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
